body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: rgb(230, 236, 236);
}


.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 25rem;
}

*, ::after, ::before {
    box-sizing: border-box;
}



.col-md-6 {
    position: center;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 100px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
div {
    display: block;
}

h1 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    color: inherit;
    
}

form {
    display: block;
    margin-top: 2em;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 1rem;
}

.form-control {
    display: block;
    width: 60%;
    padding: .75rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    align-items: center;
}

input {
    overflow: visible;
}

input, select {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline-color: #00ccff;
}

.invalid-feedback {
    display: none;
    margin-top: .25rem;
    font-size: .875rem;
    color: #dc3545;
}

.btn-1{
    margin-top: 20px;
    cursor: pointer;
    display: inline;
    color: #fff;
    background-color: #0fcedb;
    border: none;
    width: 150px;
    height: 35px;
    margin-left: 120px;
    border-radius: 5px;
}

.btn-2{
    margin-top: 20px;
    cursor: pointer;
    display: inline;
    color: #fff;
    background-color: #b6bbbb;
    border: none;
    width: 150px;
    height: 35px;
    margin-left: 20px;
    border-radius: 5px;
}







ul{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}


/*Navbar*/
.hero{
    position: relative;
    color: #fff;
    font-family: 'Open Sans',sans-serif;
    color: rgb(17, 17, 17);
    line-height: 1.6;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 5px;
    transition: 0.5s;
}

.navbar.top{
    background: transparent;
}

.navbar a{
    color: black;
    padding: 20px 20px;
    margin: 0 5px;
    font-weight: 500;
    font-size: 20px;
}


.navbar ul{
    display: flex;
}

.navbar .logo{
    font-weight: 400;
    padding-top: 25px;
}


.custom-select.is-invalid~.invalid-feedback, 
.form-control.is-invalid~.invalid-feedback {
    display: block;
}