@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    /*padding: 0;*/
    margin: 0;
}

body{
    font-family: 'Open Sans',sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul{
    list-style: none;
}

a{
    color: #333;
    text-decoration: none;
}

h1, h2{
    font-weight: 700;
    line-height: 1.2;
}

p{
    margin: 10px 0;
}

img{
    width: 100%;
    align-content: center;
}

#cases .a-1{
    text-align: center;
}
/*Navbar*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    transition: 0.5s;
}

.navbar.top{
    background: transparent;
}

.navbar a{
    color: black;
    padding: 20px 20px;
    margin: 0 5px;
    font-weight: 600;
}
.navbar a:hover{
    border-bottom: #00ccff 2px solid;
}

.navbar ul{
    display: flex;
}

.navbar .logo{
    font-weight: 400;
    padding-top: 25px;
}

/*Header*/
.hero{
    background: url(../img/header.jpg) no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: #fff;
}

.hero .content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
}

.hero .content h1{
    font-size: 45px;
    color: #222;
    text-align:start;
    margin-right: 100px;
}

.hero .content p{
    font-size: 15px;
    max-width: 500px;
    margin: 30px 0 30px;
    color: #333;
    text-align: justify;
    margin-left: 10px;
    margin-right: 100px;
}


.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);

}

/*.hero .content a.btn{
    align-items: center;
}*/

.hero *{
    z-index: 10;
}
.hero.blog{
    background: url('../img/home/blog.jpg') no-repeat center center/cover;
    height: 30vp;
}

#about-b .progress {
    overflow: hidden;
    height: 3px;
    width: 500px;
    background: rgb(216, 213, 213);
    border-radius: 5px;
    margin-bottom: 0.6rem; }

    #about-b .progress div {
      height: 100%;
      color: #333;
      text-align: center;
      background: #00ccff; }

.cases img:hover{
        opacity: 0.5;  
        color: #222; 
    }
    .cases img{
        display: flex;
        flex-direction: column;
        flex: 35%;
    }

    /*.team img{
        max-width: 2000px;
        max-height: 500px;
        padding-inline-start: 100px;
        padding-inline-end: 100px;
    }

    .icons{
        padding: 30px;
    }*/
    
    .icons h3{
        font-weight: bold;
        margin-bottom: 15px;
    }
    
    .icons i{
        /*background-color: #00ccff;*/
        color: #333;
        padding: 1rem;
        border-radius: 50%;
        margin-bottom: 15px;
    }



/*Register form*/
.register-form{
    width: 100%;
    padding: 20px 0;
    font-family: 'Open Sans',sans-serif;
    display: grid;
    /*grid-template-columns: inherit;*/
    justify-content: center;
}

.register-form .form-control{
    margin-bottom: 15px;
}


.register-form input{
    width: 250px;
    padding: 4px;
    height: 35px;
    border: #fff 1px solid;
}

.register-form input{
    outline-color: #00ccff;
}

.register-form input.title{
    width: 525px;
    outline-color: #00ccff;
}

.register-form textarea.comment{
height: 150px;
width: 525px;
outline-color:#00ccff;
border: #fff 1px solid;
font-family: 'Open Sans',sans-serif;
}

.register-form .btn-1{
    margin-top: 0px;
    cursor: pointer;
    display: grid;
    color: #fff;
    background-color: #0fcedb;
    border: none;
    width: 150px;
    height: 45px;
}

.register-form .bt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register .column_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    /*padding-right: 300px;*/
}

.register h2{
    font-size: 30px;
    font-weight: 600;
}

.register p{
    width: 600px;
    text-align: center;
    justify-content: center;
}


.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
/*Footer*/

/*Footer*/

#main-footer {
    background: #222;
    color: #fff;
    padding: 5rem;
  }
  
  .container{
      max-width: 80vw;
      padding: 0 1.5rem;
      margin: auto;
      overflow: hidden;
  }
  
  #main-footer .footer-container {
    display: flex;
    justify-content: space-between;
  }
  
  #main-footer .content-box{
      padding: 3rem;
  }

  #main-footer .content-box > * {
    padding: 0.2rem 0;
}

#main-footer .footer-container .list {
    display: flex;
    justify-content: space-between;
}

#main-footer .footer-container .list .list-a {
    padding-right: 2rem;
}

#main-footer  a{
    color: #fff;
}
      
      .row-a{
          display: flex;
          flex-wrap: wrap;
          margin-right: -15px;
          margin-left: -15px;
      }

      .abc{
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          padding: 30px;
      }
      .xyz{
          display: grid;
          grid-template-rows: repeat(2,2fr);
          grid-gap: 0px;
          padding: 10px;
      }