/*Text colors*/

.text-primary{
    color: #0fcedb;
}

.text-secondary{
    color: #0284d0;
}

/*Button*/
.btn{
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: #0fcedb;
    border: none;
    margin-right: 440px;
}

.btn:hover{
    opacity: 0.9;
}
 .btn-primary, .bg-primary{
     background: #0fcedb;
     color: #fff;
 }

 .btn-secondary, .bg-secondary{
    background: #fff;
    color: #333;
}

.btn-dark, .bg-dark{
    background: #333;
    color: #fff;
}

.btn-light, .bg-light{
    background: #f4f4f4;
    color: #333;
}

.btn-outline{
    background: transparent;
    border: 1px solid #fff;
}

/*Flex Items about*/
.flex-items-about{
    display: grid;
    text-align: center;
    justify-content: center;
    text-align: center;
    height: 50%;
    padding: 40px 10px;
    background: #fff;
}

.flex-items-about h2{
    font-weight: 700;
    color: black;
}

.flex-items-about p{
    color: #333;
    text-align: center;
    max-width: 600px;
}

.flex-items-about>div{
    padding: 30px;
    align-items: center;
    
}

.flex-items-about>div .image-1{
    align-items: center;
    width: 30%;
}


/*flex process*/
.flex-items{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 300px;
    /*padding: 50px 10px;*/
    background: #0fcedb;
}
.flex-items h3{
    font-weight: 600;
    color:#fff;
    text-align: initial;
    /*padding: 5px;*/
}

.flex-items h5{
    color: #fff;
    /*text-align:inherit;*/
}

.flex-items i{
    color: #fff;
    height: 2.5rem;
    
    
    }

.flex-items>div{
    /*padding: 30px;*/
    align-items: center;
    
}

.flex-items>div .image-1{
    align-items: center;
    width: 30%;
}


/*flex item b*/
.flex-item-b{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 50%;
    padding: 50px 10px;
    background: #0fcedb;
}
.flex-item-b h4{
    font-weight: 1000;
    color:#333;
    text-align: initial;
    padding: 5px;
    font-size: 50;
}

.flex-item-b p{
    color: #333;
    text-align:inherit;
}

.flex-items-b img.im-1{
    display: grid;
    align-items: center;
    width: 100%;
    height: 100%px;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
}


/*flex icons*/

.flex-items-c{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    /*padding: 30px;*/
    background: #dddedf;
    width: 100%;
}
.flex-items-c h3{
    font-weight: 1000;
    color:#fff;
    text-align: initial;
    padding: 5px;
}

.flex-items-c h5{
    color: #fff;
    text-align:inherit;
}

.flex-items-c>div>i{
    color: #333;
    height: 1rem;
    }

.flex-items-c>div{
    padding: 40px;
    align-items: center;
    
}




/*Flex columns*/
.flex-columns.flex-reverse .row{
    flex-direction: row-reverse;
    background: #fff;
}

.flex-columns .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-columns .column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2{
    height: 100%;
}

.flex-columns img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-columns .column-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 90px 80px;
}

.flex-columns h2{
    font-size: 40px;
    font-weight: 500;
    /*padding: 30px;*/
}

/*.flex-columns h4{
    margin-bottom: 10px;
    padding: 10px;
}*/

.flex-columns p{
    margin: 20px 0;
    padding: 10px;
}

/*Section header*/
.section-header{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-header h4{
    font-size: 30px;
    margin: 20px 0;
}
.section-header p{
    max-width: 600px;
}

/*.section-padding{
    padding: 20px 20px 40px;
}*/

/*Flex grid*/
.flex-grid .row{
    display: flex;
    flex-wrap: wrap;
    /*padding: 0 4px;*/
}

.flex-grid .column{
    
    max-width: 25%;
   /* padding: 0 4px;*/
}
.flex-grid .column a{
    display: flex;
    flex-direction: column;
    flex: 25%;
}

/*Testimonial*/
.flex-items-test{
    display: grid;
    justify-content: center;
    text-align: center;
    background: #0fcedb;
    height: 300px;
}
.flex-items-test h4{
    font-weight: 400;
    color:#fff;
    text-align: center;
    padding-top: 0px;
    
}
.flex-items-test h3{
    font-weight: 500;
    color:#fff;
    text-align: center;
    padding-top: 0px;
 
}

.flex-items-test p{
    display: grid;
    color: #fff;
    justify-content: center;
    text-align:center;
    font-weight: 600;
    width: 600px;
    padding: 50px;
}

.flex-grid .load{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 100%;
    /*padding: 50px 10px;*/
    background: #f5f5f5;
}

.flex-grid .load a{
    margin-top: 40px;
    height: 30px;
    color: rgba(207, 204, 204, 0.959);
    font-weight: 600;
    font-size: 10px;
}

.container-p {
    position: relative;
    width: 100%;
  }
  
  /* Make the image responsive 
  .container-p img {
    width: 100%;
    height: auto;
  }
  */
  /* Style the button and place it in the middle of the container/image */
  .container-p .btn-p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(80, 226, 245);
    color: white;
    font-size: 50px;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    border-radius: 500px;
  }
  
  .container-p .btn:hover {
    background-color: rgb(78, 227, 238);
  }